@font-face {
    font-family: Raleway;
    src: url("../../font/Raleway-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: Raleway;
    src: url("../../font/Raleway-Bold.woff2");
    font-weight: 700;
}