// $background:#f6ffff;
// $font-family: 'Raleway', sans-serif;

:root {
  --background: #f6ffff;
  --fontFamily: "Raleway", sans-serif;
  --mainColor: rgb(44, 45, 53);
  --accentColor: rgb(89, 141, 102);
  --lightColor: rgb(134, 146, 139);
  --containerWidth: 1110px;
  --containerPadding: 15px;
}
